%p#notice= notice
%p
  %strong Page id:
  = @photo.page_id
%p
  %strong Url:
  = @photo.url
%p
  %strong Likes count:
  = @photo.likes_count
%p
  %strong Description:
  = @photo.description
= link_to 'Edit', edit_photo_path(@photo)
|
= link_to 'Back', photos_path
